/* general */
* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
}

#root {
  max-width: 1280px;
  display: grid;
  grid-template-rows: 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
}

img {
    width: 30px;
}

/* inputs*/
.inputs {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 15px;
    background-color: #3610bdaf;
    padding: 10px;
}

.inputs .btns-list {
    list-style-type: none;
    padding: 0px;
    max-width: max-content;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    justify-self: center;
}

.btns-list button {
    border:none;
    background-color: #ffffff;
    padding: 10px 30px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.btns-list li:first-child button{
    border-radius: 50px 0px 0px 50px;
}

.btns-list li:last-child button{
    border-radius: 0px 50px 50px 0px;
}

.btns-list button:hover{
    cursor: pointer;
    background-color: #ffffff9a;
}

/* inputs - form*/
form {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr);
    gap: 20px;
}

fieldset {
    border: none;
    display: grid;
    gap: 20px;
    color: #ffffff;
}

legend {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

label {
    display: grid;
    grid-template-rows: repeat(2,max-content);
    gap: 10px;
}

.form-control {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

input,
textarea {
    border: none;
    border-radius: 20px;
    padding: 15px;
}

textarea {
    max-width: 500px;
}

input[type=checkbox] {
    width: 15px;
    align-self: start;
}

/* cv section */
.cv {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 20px;
    background-color: #ffffff;
}

.personal-info {
    display: grid;
    gap: 10px;
}

.cv section:not(.personal-info) h2{
    border-top: 1px solid #3610bdaf;
    border-bottom: 1px solid #3610bdaf;
    color: #3610bdaf;
    padding: 3px;
}

.cv section:not(.personal-info) {
    display: grid;
    gap: 10px;
}

.experience, 
.item {
    display: grid;
    gap: 10px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.header h3 {
    margin-right: auto;
}

@media (max-width:900px) {
    main {
        grid-template-columns: 1fr;
    }
}